<div class="container"> 
    <h1 class="mt-5 text-center"> Fullstack Dev Ops Project</h1>
</div>

<div class="mt-5">
    
<h6 class="text-center">This is my home page for my final project wich manages a database of users.</h6>
<h6 class="text-center">Made with Springboot, Angular, MySql and Java this program let you to add, insert, retrieve edit and delete users and
    their respective type of user.
</h6>
<h6 class="text-center">Hope you like it and any type of feedback is welcome, because life is about learning everyday.</h6>

<div class="mt-5 text-center">
    <p> Author</p>
    <p>Christian Nicolas Fernández Calderón </p>

    <p> Mentor</p>
    <p>Pascal Cerezo</p>
</div>

</div>